# local temporary files
.idea
*~
aws
crossmap*
crossprep*
node2vec
*temp.bash
*out

# data files
*tsv
*csv
*gz
*zip
data*

# graphics and compiled vignettes
*pdf
*png
*jpg
*jpeg
*tiff
*tex
*html
vignettes/cache*

